<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>Regional Maps</title>
      <link rel="stylesheet" href="../style/pokedb.css">
   </head>

   <body>
      <h2>Region maps:</h2>
      <h3>Kanto</h3>
      <p>Insert map here as image</p>
      <h3>Johto</h3>
      <p>Insert map here as image</p>
      <h3>Hoenn</h3>
      <p>Insert map here as image</p>
      <h3>Sinnoh</h3>
      <p>Insert map here as image</p>
      <h3>Unova</h3>
      <p>Insert map here as image</p>
      <h3>Kalos</h3>
      <p>Insert map here as image</p>
      <h3>Alola</h3>
      <p>Insert map here as image</p>
      <ul>
	 <li><a href="index.html">Return Home</a></li>
	 <li><a href="moves.html">View Moves</a></li>
	 <li><a href="types.html">View Types</a></li>
      </ul>
   </body>
</html>
