<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>Type Chart</title>
      <link rel="stylesheet" href="../style/pokedb.css">
   </head>

   <body>
      <h3>Type Chart</h3>
      <table>
	 <tr>
	    <th>Type</th>
	 </tr>
      </table>
      <p>Eventually the chart above will be filled with each type's strengths and weaknesses.</p>
      <div id="add_delete_type">
	 <h3>Add a Custom Type:</h3>
	 <input type="temp" id="customType" placeholder="What is the type called?">
         <button>Submit!</button>
	 <h3>Delete Type:</h3>
	 <input type="temp" id="deleteType" placeholder="Name of type to delete...">
	 <button>Delete</button>
      </div>
      <ul>
	 <li><a href="index.html">Return Home</a></li>
	 <li><a href="moves.html">View Moves</a></li>
         <li><a href="maps.html">View Region Maps</a></li>
      </ul>
   </body>
</html>
